@charset "utf-8";
/*reset*/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:none;outline:0;font-size:100%}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
a{outline:0;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0); }
/*input,textarea{-webkit-appearance:none;background: none;outline: 0;border: none;font-family:"microsoft yahei";-webkit-tap-highlight-color:rgba(0,0,0,0); }*/
a:focus,input:focus,p{-webkit-tap-highlight-color:rgba(0,0,0,0);outline: 0;}
p{background: none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
::-webkit-input-placeholder{color:#e5e5e5;}
::-moz-placeholder{color:#e5e5e5;}
/*类库*/
html {overflow-x:hidden;width: 100%;min-height: 100%;}
body{font-size:12px;font-family:"microsoft yahei";background: #efeff4;color:#333;overflow-x:hidden;width: 100%;min-height: 100%;}
.trade-password {-webkit-text-security: disc;text-security: disc;}

.hide {display: none !important;}
.hide1{display: none;}
.db{display: block !important;}
.dib{display: inline-block !important;}
.tc{text-align: center;}
.owh { overflow:hidden;}
.owa { overflow:auto;}
.p_r{position: relative;}
.tar,.txr {text-align:right;}
.tac{text-align: center;}
.tal{text-align:left;}
.mar_center{margin: 0 auto;}
.fwb{font-weight: bold;}
.dt {display: table;width:100%;}
.dtc {display: table-cell;vertical-align: middle;}
.vat{vertical-align:top;}
.vab{vertical-align:bottom;}
.ti2{text-indent:2em;}
.txd{text-decoration:line-through;}
.txdu{text-decoration:underline;}
.opa30{opacity: 0.3;}
.fa{font-family:arial;}
.df{display: flex;display: -webkit-flex;}
.fx1{flex: 1;}

/*整体边框*/
.bor_ddd{border: 1px solid #ddd;}
.bor_ccc{border: 1px solid #ccc;}
.bor_red{border: 1px solid #f14a51;}
.bor_orange{border: 1px solid #ff9500;}
.bor_blue{border: 1px solid #007aff;}
.bor_blue1{border: 1px solid #57a8ff;}
.bor_blue5{border: 1px solid #57a8ff;}
.bor_gray1{border: 1px solid #e5e5e5;}
.bor_gray2{border: 1px solid #eee;}
.bor_gray3{border: 1px solid #798295;}

/*左边边框*/
.bor_l_ccc{border-left: 1px solid #ccc;}
.bor_l_ddd{border-left: 1px solid #ddd;}

/*右边边框*/
.bor_r_ddd{border-right: 1px solid #ddd;}

/*上边边框*/
.bdt {border-top:1px solid #e0e0e0;}
.bor_t_ddd{border-top: 1px solid #ddd;}
.bor_t_ea{border-top: 1px solid #eaeaea;}
.bor_t_e4{border-top: 1px solid #e4e4e4;}
.bor_t_gray{border-top: 1px solid #e3e3e5;}
.bor_t_e1{border-top: 1px solid #e1e1e1;}
.bor_t_e4{border-top: 1px solid #e4e4e4;}
.bor_t_e6{border-top: 1px solid #e6e6e6;}
.bor_t_white{border-top: 1px solid #fff;}
.bor_t_gray1{border-top: 1px solid #ccc;}
.bor_t_gray2{border-top: 1px solid #eee;}


/*下边边框*/
.bdb {border-bottom:1px solid #e0e0e0;}
.bor_b_ddd{border-bottom: 1px solid #ddd;}
.bor_b_ea{border-bottom: 1px solid #eaeaea;}
.bor_b_gray{border-bottom: 1px solid #e3e3e5;}
.bor_b_e1{border-bottom: 1px solid #e1e1e1;}
.bor_b_e{border-bottom: 1px solid #eee;}
.bor_b_e6{border-bottom: 1px solid #e6e6e6;}

/*虚框*/
.bor_ds_d{border: 1px dashed #ddd;}
.bor_bd_c{border-bottom: 1px dashed #ccc;}
.bor_bd_ddd{border-bottom: 1px dashed #ddd;}
.bor_ld_white{border-left: 1px dotted #fff;}
.bor_ld_blue{border-left: 1px dotted #b7c5f5;}
.bor_td_c{border-top: 1px dashed #ccc;}
.bor_td_ddd{border-top: 1px dashed #ddd;}
.bor_td_gray1{border-top: 1px dashed #e5e5e5;}
.bor_rd_d{border-right: 1px dashed #ddd;}

/*圆角度数*/
.bor_radius3{border-radius: 3px;}
.bor_radius4{border-radius: 4px;}
.bor_radius6{border-radius: 6px;}
.bor_radius8{border-radius: 8px;}
.bor_radius12{border-radius: 12px;}
.bor_radius_circle{border-radius: 50%;}
.bor_radius_none{border-radius:0 !important;}

/*清浮动*/
.fl{float: left;}
.fr{float: right;}
.clearfix:after,.cf:after{content:"."; display:block; height: 0; clear: both; visibility:hidden;}

/*背景颜色*/
.red_bg1{background: #f4484d;}
.red_bg2{background: #f14a51;}
.red_bg3{background: #f15a51;}
.red_bg4{background: #c33;}
.red_bg5{background: #f25a52;}
.orange_bg1{background: #fdf0dd;}
.orange_bg2{background: #ff9900;}
.orange_bg3{background: #ff9500;}
.orange_bg4{background: #f5835b;}
.orange_bg5{background: #ffa103;}
.yellow1{background: #fcdeb1;}
.yellow2{background: #f7a94e;}
.yellow3{background: #ffb157;}
.yellow_bg4{background: #ffaf32;}
.bkgw {background:#fff;}
.gray_bg1{background: #ccc;}
.gray_bg2{background: #e9e5e3;}
.gray_bg3{background: #f7f7f7;}
.gray_bg4{background: #6d758a;}
.gray_bg5{background: #f5f5f5;}
.gray_bg6{background: #4f565d;}
.gray_bg7{background: #f6f6f6;}
.gray_bg8{background: #999;}
.gray_bg9{background: #efeff4;}
.blue_bg{background: #4eb5f7;}
.blue_bg1{background: #7487c5;}
.blue_bg2{background: #8197d8;}
/*字体颜色*/
.white{color: #fff;}
.black{color: #1a1a1a;}
.black1{color: #000;}
.red {color:#f14a51 !important;}
.red1{color: #f14a51 !important;}
.red2{color: #cc0000;}
.red8{color: #f15a51;}
.red4{color: #f25a52;}
.gray3{color: #333;}
.gray4{color: #444;}
.grey,.gray,.gray9 {color:#999 !important;}
.grey6,.gray6{color: #666;}
.grey8,.gray8 {color:#888 !important;}
.gray10{color: #808080;}
.gray11{color: #2b3035;}
.gray12{color: #7f8593;}
.gray13{color: #798295;}
.grey_c,.gray_c{color: #ccc !important;}
.orange1{color: #ff9900;}
.orange2{color: #f76c35;}
.orange3{color: #ff9500;}
.orange4{color: #ffac2f;}
.orange5{color: #ff8f22;}
.orange6{color: #ffaf32;}
.brown1{color: #5a2201;}
.blue{color: #4d9de4;}
.blue1{color: #5782b1;}
.blue2{color: #b7c5f5;}
.blue3{color: #929eaa;}
.blue4{color: #007aff;}
.blue5{color: #57a8ff;}
.blue6{color: #848a9f;}
.blue7{color: #98a4b1;}
.blue8{color: #667180;}
.blue9{color: #20a3dd;}
.green{color: #39af33;}

/*字号*/
.f8 {font-size:10px;}
.ft10,.f10 {font-size:10px;}
.ft11,.f11 {font-size:11px;}
.ft12,.f12 {font-size:12px;}
.ft13,.f13 {font-size:13px;}
.ft14,.f14 {font-size:14px;}
.ft15,.f15 {font-size:15px;}
.ft16,.f16 {font-size:16px;}
.ft17,.f17 {font-size:17px;}
.ft18,.f18 {font-size:18px;}
.ft19,.f19 {font-size:19px;}
.ft20,.f20 {font-size:20px;}
.ft21,.f21 {font-size:21px;}
.f23{font-size: 23px;}
.ft24,.f24 {font-size:24px;}
.ft30,.f30 {font-size:30px;}
.f35{font-size: 35px;}
.f36{font-size: 36px;}
.f40 {font-size:30px;}

/*宽px*/
.wh19 {width:19px;}
.wh25{width: 25px;}
.wh45{width: 45px;}
.wh30{width: 30px;}
.wh50 {width:50px;}
.wh52 {width:52px;}
.wh60 {width:60px;}
.wh72 {width:72px;}
.wh80 {width:80px;}
.wh100 {width:100px;}
.wh105 {width:105px;}
.wh108 {width:108px;}

/*宽百分比*/
.w10 {width:10%;}
.w17 {width:17%;}
.w18 {width:18%;}
.w20 {width:20%;}
.w24 {width:24%;}
.w25 {width:25%;}
.w26 {width:26%;}
.w27 {width:27%;}
.w28 {width:28%;}
.w30 {width:30%;}
.w32 {width:32%;}
.w33 {width:33%;}
.w3x{width: 33.3333%;}
.w36 {width:36%;}
.w35 {width:35%;}
.w38 {width:38%;}
.w40 {width:40%;}
.w42 {width:42%;}
.w43 {width:43%;}
.w47 {width:47%;}
.w50 {width:50%;}
.w54 {width:54%;}
.w55 {width:55%;}
.w60 {width:60%;}
.w65 {width:65%;}
.w70{width: 70%;}
.w72{width: 72%;}
.w75{width: 75%;}
.w78{width: 78%;}
.w80{width: 80%;}
.w82{width: 82%;}
.w90{width: 90%;}
.w91{width: 91%;}
.w100{width: 100%;}

/*高度百分比*/
.h100{height: 100%;}

/*高度px*/
.hp15{height: 15px;}
.hp22{height: 22px;}
.hp26{height: 26px;}
.hp32{height: 32px;}
.hp44{height: 44px;}
.hp46{height: 46px;}

/*行高*/
.lh10{line-height: 10px;}
.lh11{line-height: 11px;}
.lh12{line-height: 12px;}
.lh14{line-height: 14px;}
.lh15{line-height: 15px;}
.lh16{line-height: 16px;}
.lh17{line-height: 17px;}
.lh18{line-height: 18px;}
.lh19{line-height: 19px;}
.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
.lh24{line-height: 24px;}
.lh25{line-height: 25px;}
.lh26{line-height: 26px;}
.lh28{line-height: 28px;}
.lh30{line-height: 30px;}
.lh32{line-height: 32px;}
.lh33{line-height: 33px;}
.lh34{line-height: 34px;}
.lh35{line-height: 35px;}
.lh36{line-height: 36px;}
.lh38{line-height: 38px;}
.lh40{line-height: 40px;}
.lh44{line-height: 44px;}
.lh45{line-height: 45px !important;}
.lh47{line-height: 47px;}
.lh48{line-height: 48px;}
.lh50{line-height: 50px;}
.lh54{line-height: 54px;}
.lh58{line-height: 58px;}
.lh66{line-height: 66px;}
.lh69{line-height: 69px;}

.mt-16 {margin-top:-16px;}
.mt-5 {margin-top:-5px;}
.mt-1 {margin-top:-1px;}
.mt0{margin-top: 0px !important;}
.mt2{margin-top: 2px;}
.mt3{margin-top: 3px;}
.mt4{margin-top: 4px;}
.mt5 {margin-top:5px !important;}
.mt6 {margin-top:6px !important;}
.mt8{margin-top: 8px;}
.mt10 {margin-top:10px !important;}
.mt12{margin-top: 12px;}
.mt13{margin-top: 13px;}
.mt15 {margin-top:15px !important;}
.mt16{margin-top: 16px;}
.mt17{margin-top: 17px;}
.mt19{margin-top: 19px;}
.mt20 {margin-top:20px !important;}
.mt22{margin-top: 22px;}
.mt25 {margin-top:25px !important;}
.mt26{margin-top: 26px;}
.mt28{margin-top: 28px;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt50 {margin-top:50px}
.mt78 {margin-top:78px}

.mb-13{margin-bottom: -13px;}
.mb-12{margin-bottom: -12px;}
.mb-10{margin-bottom: -10px;}
.mb-7{margin-bottom: -7px;}
.mb-1{margin-bottom: -1px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb12{margin-bottom: 12px;}
.mb14{margin-bottom: 14px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb24{margin-bottom: 24px;}
.mb25{margin-bottom: 25px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb54{margin-bottom: 54px;}

.ml3{margin-left: 3px;}
.ml5 {margin-left:5px !important;}
.ml6{margin-left: 6px;}
.ml7{margin-left: 7px;}
.ml15 {margin-left:15px !important;}
.mr5 {margin-right:5px !important;}
.mr7{margin-right: 7px;}
.mr10{margin-right: 10px;}
.mr15 {margin-right:15px !important;}
.mr19{margin-right: 19px;}
.mr22{margin-right: 22px;}
.ml10 {margin-left:10px;}

.pl0 {padding-left: 0px !important;}
.pl3{padding-left: 3px;}
.pl4{padding-left: 4px;}
.pl5{padding-left: 5px;}
.pl6{padding-left: 6px;}
.pl7{padding-left: 7px;}
.pl8{padding-left: 8px;}
.pl10{padding-left: 10px;}
.pl15 {padding-left: 15px !important;}
.pl16{padding-left: 16px;}
.pl18{padding-left: 18px;}
.pl19{padding-left: 19px;}
.pl20{padding-left: 20px;}
.pl22{padding-left: 22px;}
.pl24{padding-left: 24px;}
.pl25{padding-left: 25px;}
.pl26{padding-left: 26px;}
.pl27{padding-left: 27px;}
.pl28{padding-left: 28px;}
.pl30{padding-left: 30px;}
.pl32{padding-left: 32px;}
.pl33{padding-left: 33px;}
.pl35{padding-left: 35px;}
.pl36{padding-left: 36px;}
.pl38{padding-left: 38px;}
.pl40{padding-left: 40px;}
.pl43{padding-left: 43px;}
.pl47{padding-left: 47px;}
.pl50{padding-left: 50px;}
.pl54{padding-left: 54px;}
.pl55{padding-left: 55px;}
.pl60{padding-left: 60px;}
.pl84{padding-left: 84px;}
.pl98{padding-left: 98px;}

.pr3 {padding-right: 3px;}
.pr4 {padding-right: 4px;}
.pr5 {padding-right: 5px;}
.pr7 {padding-right: 7px;}
.pr8 {padding-right: 8px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr17 {padding-right: 17px;}
.pr18 {padding-right: 18px;}
.pr19{padding-right: 19px;}
.pr20{padding-right: 20px;}
.pr22{padding-right: 22px;}
.pr24{padding-right: 24px;}
.pr25{padding-right: 25px;}
.pr29{padding-right: 29px;}
.pr30{padding-right: 30px;}
.pr33{padding-right: 33px;}
.pr35{padding-right: 35px;}
.pr38{padding-right: 38px;}
.pr40{padding-right: 40px;}
.pr45{padding-right: 45px;}
.pr64{padding-right: 64px;}
.pr84{padding-right: 84px;}

.pt0{padding-top: 0 !important;}
.pt2{padding-top: 2px;}
.pt3{padding-top: 3px;}
.pt4{padding-top: 4px;}
.pt5{padding-top: 5px;}
.pt6{padding-top: 6px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pt9{padding-top: 9px;}
.pt10{padding-top: 10px !important;}
.pt12{padding-top: 12px;}
.pt13{padding-top: 13px;}
.pt14{padding-top: 14px;}
.pt15{padding-top: 15px !important;}
.pt16{padding-top: 16px;}
.pt17{padding-top: 17px;}
.pt18{padding-top: 18px;}
.pt19{padding-top: 19px;}
.pt20{padding-top: 20px;}
.pt22{padding-top: 22px;}
.pt23{padding-top: 23px;}
.pt24{padding-top: 24px;}
.pt25{padding-top: 25px;}
.pt26{padding-top: 26px;}
.pt27{padding-top: 27px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt42{padding-top: 42px;}
.pt45{padding-top: 45px;}
.pt48{padding-top: 48px;}
.pt50{padding-top: 50px;}
.pt55{padding-top: 55px;}
.pt70{padding-top: 70px;}
.pt78{padding-top: 78px;}

.pb0{padding-bottom: 0 !important;}
.pb2{padding-bottom: 2px;}
.pb3{padding-bottom: 3px;}
.pb4{padding-bottom: 4px;}
.pb5{padding-bottom: 5px;}
.pb6{padding-bottom: 6px;}
.pb7{padding-bottom: 7px;}
.pb8{padding-bottom: 8px;}
.pb9{padding-bottom: 9px;}
.pb10{padding-bottom: 10px !important;}
.pb12{padding-bottom: 12px;}
.pb13{padding-bottom: 13px;}
.pb14{padding-bottom: 14px;}
.pb15{padding-bottom: 15px !important;}
.pb16{padding-bottom: 16px;}
.pb17{padding-bottom: 17px;}
.pb18{padding-bottom: 18px;}
.pb19{padding-bottom: 19px;}
.pb20{padding-bottom: 20px;}
.pb22{padding-bottom: 22px;}
.pb23{padding-bottom: 23px;}
.pb25{padding-bottom: 25px;}
.pb26{padding-bottom: 26px;}
.pb28{padding-bottom: 28px;}
.pb30{padding-bottom: 30px;}
.pb33{padding-bottom: 33px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb55{padding-bottom: 55px;}
.pb75{padding-bottom: 75px;}

.top3 {top:3px;}
.wp82 {width:82px;}
.color3 {color:#d8c384;}

/*透明body*/
.opBody {font-size: 12px;font-family: "microsoft yahei";background:rgba(0,0,0,0);color: #333;overflow-x: hidden;width: 100%;min-height: 100%;}
